* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial rounded mt bold';
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: white;
    overflow: hidden;
}

/* Header */
.js-hero {
    font-size: 18px;
    text-align: center;

    width: 100vw;
    margin-left: auto;
    margin-right: auto;

    position: relative;

    padding: 10px;

    /* background-color: gray; */
}

.js-hero h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Main */
main {
    position: relative;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;

    /* background-color: gray; */
}

.js-buttons {
    display: block;
    width: 100px;
    height: 100px;

    border-radius: 15px;
    border: 2px solid black;

    margin: 30px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;

    font-weight: bold;
    font-size: 16px;
}

.js-buttons:hover {
    box-shadow: 5px 5px black;
    cursor: pointer;
}

.js-buttons:active {
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px;
}

.js-content {
    display: block;
    width: 340px;
    height: 420px;

    border-radius: 15px;
    border: 2px solid black;

    margin: 30px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;

    overflow: auto;
}

.js-content:hover {
    box-shadow: 5px 5px black;
}

.js-content h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;

    border-bottom: 1px solid black;
}

.js-content p {
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}

.js-content .heading {
    text-align: center;
}

.js-content .email {
    margin: 20px;
    margin-top: 50px;
}

.js-content .links {
    margin-top: 100px;
    margin-left: 40px;
}

.js-content a {
    text-decoration: none;
}

.js-content a:hover {
    text-decoration: underline;
}

.js-content h4 {
    text-align: center;
}

.js-content img {
    width: 175px;
    border: 2px solid black;
    border-radius: 15px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.js-content img:hover {
    text-shadow: 3px 3px black;
}

.js-content div {
    text-align: center;
    font-size: 12px;
}

/* Footer */
footer {
    text-align: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

    /* background-color: gray; */
}

.js-tech-buttons {
    display: inline-block;

    width: 30px;
    height: 30px;

    margin: 5px;
}

/* iPhone Portrait */
@media (max-height: 700px) {
    main {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

/* iPhone Landscape */
@media (max-height: 400px) and (max-width: 700px) {
    main {
        flex-direction: row;
        width: 450px;

        margin-top: 16px;
        margin-bottom: 16px;
    }

    .js-content {
        width: 600px;
        height: 250px;

        margin-top: -70px;
        margin-bottom: -15px;
    }
}

/* Landscape */
@media (min-width: 700px) {
    .js-hero, main, footer {
        width: 600px;
    }

    main {
        flex-direction: row;
        justify-content: center;

        width: 600px;

        margin-top: 15px;
        margin-bottom: 15px;
    }

    .js-buttons {
        margin-left: 50px;
        margin-right: 50px;
    }

    .js-content {
        display: block;
        width: 700px;
        height: 300px;

        margin-top: -55px;
    }

    .js-content h3 {
        font-size: 24px;
    }
}

/* iPad */
@media (min-width: 700px) and (min-height: 1000px) {
    body {
        padding: 12%;
        padding-top: 20%;
    }

    main {
        flex-direction: column;
    }

    .js-content {
        display: block;
        width: 500px;
    }
}

/* Desktop */
@media (min-width: 1000px) and (min-height: 400px) {
    body {
        padding: 12%;
    }
}