* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial rounded mt bold';
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(92, 154, 179);
}

/* Header */
.js-hero {
    font-size: 18px;
    text-align: center;

    width: 100vw;
    margin-left: auto;
    margin-right: auto;

    position: relative;

    padding: 10px;

    /* background-color: gray; */
}

.js-hero h1 {
    margin-bottom: 8px;
}

/* Main */
main {
    position: relative;
    width: 160px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    /* background-color: gray; */
}

.js-buttons {
    display: block;
    width: 100px;
    height: 100px;

    border-radius: 15px;
    border: none;

    margin: 30px;

    background-color: rgba(0, 0, 255, 0.568);

    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

.js-buttons:hover {
    color: white;
    box-shadow: 5px 5px black;
    cursor: pointer;
}

.js-buttons:active {
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px;
}

/* Footer */
footer {
    text-align: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

    /* background-color: gray; */
}

.js-tech-buttons {
    display: inline-block;

    width: 20px;
    height: 20px;

    background-color: lightgray;

    margin: 5px;
}

/* iPhone */
@media (max-height: 700px) {
    main {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-height: 400px) and (max-width: 700px) {
    main {
        flex-direction: row;
        width: 450px;

        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/* Landscape */
@media (min-width: 700px) {
    .js-hero, main, footer {
        width: 600px;
    }

    main {
        flex-direction: row;
        justify-content: center;

        width: 600px;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .js-buttons {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* iPad */
@media (min-width: 700px) and (min-height: 1000px) {
    body {
        padding: 12%;
        padding-top: 20%;
    }

    main {
        flex-direction: column;
        width: 200px;
    }
}

/* Desktop */
@media (min-width: 1000px) and (min-height: 400px) {
    body {
        padding: 12%;
    }
}